<head>
    <link rel="stylesheet" href="static/main.css">
</head>
<body>
    {% if session.username %}
    <b><p>Olet kirjautunut käyttäjänimellä <ins>{{ session.username }}</ins></b></p>
    <a href="/submit_text" class="button">Lähetä teksti</a><br>
    <br>
    <a href="/logout" class="button">Kirjaudu ulos</a>
    <h2>Tekstit:</h2>
    <ul>
    {% for submission in submissions %}
    <li>
    <p><b>{{ submission.text }}</b></p>
    {% if submission.average_rating %}
    <p>Keskimääräinen arvio: <b>{{ submission.average_rating }}</b> | Mediaani arvio: <b>{{ submission.median }}</b> | <a href="/readrevs/{{ submission.id }}">Saadut palautteet</a></p>
    {% else %}
    <p>Ei arvosteluja vielä | <a href="/readrevs/{{ submission.id }}">Saadut palautteet</a></p>
    {% endif %}
    <form method="post" action="{{ url_for('rate', submission_id=submission.id) }}">
    Arvostele faktuaalisuutta: 
    <select name="rating">
    {% for i in range(1, 11) %}
    <option value="{{ i }}">{{ i }}</option>
    {% endfor %}
    </select>
    <br>
    <input type="submit" value="Lähetä arvosana">
    </form>
    <form method="post" action="{{ url_for('review', submission_id=submission.id) }}">
    Kirjoita sanallinen palaute: <input type="text" name="review" id="review" required>
    <br>
    <input type="submit" value="Lähetä palaute">
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <li><b style='color:firebrick;'>{{ message }}</b></li>
    {% endfor %}
    {% endif %}
    {% endwith %}
    </li>
    {% endfor %}
    </ul>
    {% else %}
    <form action="/login" method="POST">
    <label for="username">Käyttäjänimi:</label>
    <input type="text" name="username"></p>
    <label for="password">Salasana:</label>
    <input type="password" name="password"></p>
    <input type="submit" value="Kirjaudu">
    <a href="/register" class="button">Uusi käyttäjä</a><br>
    </form>
    <br>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <li><b style='color:firebrick;'>{{ message }}</b></li>
    {% endfor %}
    {% endif %}
    {% endwith %} 
    {% endif %}
</body>
